grafana:
  adminPassword: "admin123"

  service:
    type: LoadBalancer

prometheus:
  service:
    type: LoadBalancer

  prometheusSpec:
    additionalScrapeConfigs:
      - job_name: "hotel-app"
        metrics_path: /metrics
        scrape_interval: 15s
        static_configs:
          - targets:
              - "hotel-service.default.svc.cluster.local:80"
