- name: Install AWS CLI if not present
  become: yes
  apt:
    name: awscli
    state: present
    update_cache: yes

- name: Authenticate Docker to AWS ECR
  become: yes
  shell: |
    aws ecr get-login-password --region ap-south-2 \
    | docker login --username AWS --password-stdin 278338841334.dkr.ecr.ap-south-2.amazonaws.com
- name: Install pip
  become: yes
  apt:
    name: python3-pip
    state: present
    update_cache: yes

- name: Install Python Docker SDK
  become: yes
  pip:
    name: docker

- name: Pull image from ECR
  become: yes
  docker_image:
    name: "278338841334.dkr.ecr.ap-south-2.amazonaws.com/hotel-management-repo:latest"
    source: pull
