replicaCount: 2

image:
  repository: 278338841334.dkr.ecr.ap-south-2.amazonaws.com/hotel-management-repo
  tag: "latest"
  pullPolicy: Always

service:
  type: LoadBalancer
  port: 80
  targetPort: 5000

resources: {}
